{% load staticfiles %}
{% load i18n %}
{% load rest_framework %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      {% endblock %}
      <title>{% block title %}{% if name %}{{ name }} –  {% endif %}Canadian Parliamentary Data API{% endblock %}</title>
      {% block style %}
        {% block bootstrap_theme %}
          <link rel="stylesheet" type="text/css" href="{% static "theme-application/css/toolkit.min.css" %}"/>
        {% endblock %}
        <style>
            .breadcrumb { background: #eee; }
            .pagination { margin: 0 !important; }
            nav { line-height: 1em; }
        </style>
      {% endblock %}
    {% endblock %}
  </head>

  {% block body %}
  <body class="{% block bodyclass %}{% endblock %}">

    <div class="wrapper">
      <div class="container">
        {% block breadcrumbs %}
          <ul class="breadcrumb">
            {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
              {% if forloop.last %}
                <li class="active"><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
              {% else %}
                <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endblock %}

        <!-- Content -->
        <div id="content">
            <div class="content-main">
                <h1>{{ name }}</h1>
                  <div class="description">{% block description %}{{ description }}{% endblock %}</div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <code><strong>{{ request.method }}</strong> {{ request.get_full_path }}</code>
                    </div>
                    <div class="panel-body" style="white-space: pre-line"><span class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}{% for key, val in response_headers.items %}
                        <b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize_quoted_links }}</span>{% endfor %}</span>{% endautoescape %}</div>
                    <div class="panel-body" style="white-space: pre; font-family: monospace; overflow: auto">{% autoescape off %}{{ content|urlize_quoted_links }}{% endautoescape %}</div>
                      {% if paginator %}
                        <div class="panel-footer" style="text-align: right">
                            <nav>
                              {% get_pagination_html paginator %}
                            </nav>
                        </div>
                      {% endif %}
                </div>
            </div>
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    {% block script %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Not really in use at all: <script src="{% static "theme-application/js/toolkit.min.js" %}"></script> -->
      <script src="{% static "marked.min.js" %}"></script>
      <script>
        $(".description").each(function() {
            $(this).html(marked($(this).html()));
        })
      </script>
    {% endblock %}

  </body>
  {% endblock %}
</html>
